[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-environ = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
gunicorn = "*"
pillow = "*"
celery = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.10"
